{extend name="Base/layout" /}
{block name="main"}
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">&#xe000;</i><a href="__GROUP__">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="./"></a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="{:url('add')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                    <tr>
                        <th width="120"><i class="require-red">*</i>分类：</th>
                        <td>
                            <select name="colId" id="catid" class="required">
                                {empty name="sortList"}<option value="">暂无分类</option>{/empty}
                                {notempty name="sortList"}
                                    <option value="">请选择</option>
                                    {volist name="sortList" id="vo"}
                                        {if condition="$vo.colId gt '1'"}
                                            <option value="{$vo.colId}">{$vo.colTitle}</option>
                                        {/if}
                                    {/volist}
                                {/notempty}
                            </select>
                            <a class="ml5" href="#">添加分类</a>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>标题：</th>
                        <td>
                            <input class="common-text required" type="text" id="title" name="title" size="50" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <th>作者：</th>
                        <td><input class="common-text" type="text" name="author" size="50" value="admin"/></td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>缩略图：</th>
                        <td><input type="file" name="smallimg" id=""/><!--<input type="submit" onclick="submitForm('__URL__/upload')" value="上传图片"/>--></td>
                    </tr>
                    <tr>
                        <th>内容：</th>
                        <td><textarea name="content" id="content" cols="30" style="width:98%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" type="submit" value="提交"/>
                            <input class="btn btn6" type="button" onclick="history.go(-1)" value="返回"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{/block}