{extend name="Base/layout" /}
{block name="main"}
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎使用Jing博客程序，建博的首选工具。</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>快捷操作</h1>
        </div>
        <div class="result-content">
            <div class="short-wrap">
                <a href="__GROUP__/design/insert"><i class="icon-font">&#xe001;</i>新增作品</a>
                <a href="__GROUP__/blog/insert"><i class="icon-font">&#xe005;</i>新增博文</a>
                <a href="__GROUP__/comment"><i class="icon-font">&#xe048;</i>新增作品分类</a>
                <a href="__GROUP__/comment"><i class="icon-font">&#xe041;</i>新增博客分类</a>
                <a href="__GROUP__/comment"><i class="icon-font">&#xe01e;</i>作品评论</a>
                <a href="__GROUP__/comment/blogindex"><i class="icon-font">&#xe01d;</i>博客评论</a>
                <a href="__GROUP__/msg"><i class="icon-font">&#xe021;</i>留言管理</a>
                <a href="__GROUP__/link"><i class="icon-font">&#xe032;</i>友情链接</a>
                <a href="__GROUP__/advs"><i class="icon-font">&#xe043;</i>广告管理</a>
            </div>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>系统基本信息</h1>
        </div>
        <div class="result-content">
            <ul class="sys-info-list">
                {volist name="info" id="vo"}
                    <li>
                        <label class="res-lab">{$key}</label><span class="res-info">{$vo}</span>
                    </li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
            <h1>使用帮助</h1>
        </div>
        <div class="result-content">
            <ul class="sys-info-list">
                <li>
                    <label class="res-lab">官方交流网站：</label><span class="res-info"><a href="http://www.jing-ui.com" title="静静设计" target="_blank">Jing-ui.com</a></span>
                </li>
            </ul>
        </div>
    </div>
{/block}
