<div class="blog-sider">
    <div class="sider-items">
        <div class="sider-title">
            <h1>搜索</h1>
        </div>
        <div class="sider-content">
<!--            <form action="__URL__/search" method="post">-->
            <form action="{:url('/blog/search')}" method="post">
                <input class="input-text mr5" type="text" name="keywords" placeholder="请输入关键字搜索" id=""/><input class="btn" type="submit" value="搜索"/>
            </form>
        </div>
    </div>
    <!--/搜索-->
    <div class="sider-items">
        <div class="sider-title">
            <h1>文章分类</h1>
        </div>
        <div class="sider-content">
            <ul class="art-list clearfix">
                {:widget('Common/blogSort')}
            </ul>
        </div>
    </div>
    <!--/文章分类-->
    <div class="sider-items">
        <div class="sider-title">
            <h1>文章归档</h1>
        </div>
        <div class="sider-content">
            <ul class="files-list">
                {:widget('Common/Date')}
            </ul>
        </div>
    </div>
    <!--／文章归档-->
    <div class="sider-items">
        <div class="sider-title">
            <h1>加入QQ群</h1>
        </div>
        <div class="sider-content">
            <p class="none"><a class="qq-link" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=bd7937846dc6fdd0001eb44c936bd71cab9b9def60e1049070283c829955e17f"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="UI设计交流?﹏?1群" title="UI设计交流?﹏?1群"></a><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=fBYTCRUfFzwNDVIfExE" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></p>
            <p><a class="qq-link" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=bd7937846dc6fdd0001eb44c936bd71cab9b9def60e1049070283c829955e17f"><img src="__IMG__/common/ui-qq.png" alt="欢迎加入QQ群交流"/></a></p>
        </div>
    </div>
</div>