<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{$Think.config.site.title}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="keywords" content="{$Think.config.site.keywords}"/>
    <meta name="description" content="{$Think.config.site.description}"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/common.css" />
    <link type="text/css" rel="stylesheet" href="__CSS__/design.css" />
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <script type="text/javascript">
        if (top.location !== self.location) {
            top.location=self.location;
        }
    </script>
</head>
<body>
<header class="header-wrap">
    <div class="header-inner wrap-box clearfix">
        <div class="logo-wrap">
            <h1><a class="anim-link" title="{$Think.siteConf.title}" href="__ROOT__/"><img src="__IMG__/common/jing-logo.png" alt="{$Think.config.site.title}"/></a></h1>
        </div>
        <nav class="top-nav-wrap">
            <ul class="nav-list clearfix">
                {:widget('Common/Nav')}
            </ul>
        </nav>
    </div>
</header>
<!--/header-->