{extend name="base/layout" /}
{block name="main"}
<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font">&#xe000;</i><a href="__URL__/">首页</a><span class="crumb-step">&gt;</span><a href="__URL__/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="__URL__/add" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <table class="insert-tab" width="100%">
                <tr>
                    <th width="120"><i class="require-red">*</i>分类：</th>
                    <td>
                        <select name="" id="catid" class="required">
                            {empty name="sortList"}<option value="">暂无分类</option>{/empty}
                            <option value="">请选择</option>
                            {volist name="sortList" id="vo"}
                                <option value="{$vo.colId}">{$vo.colTitle}</option>
                            {/volist}
                        </select>
                        <a class="ml5" href="#">添加分类</a>
                    </td>
                </tr>
                <tr>
                    <th><i class="require-red">*</i>标题：</th>
                    <td>
                        <input class="common-text required" type="text" id="title" name="title" size="50" value=""/>
                    </td>
                </tr>
                <tr>
                    <th>链接：</th>
                    <td><input class="common-text" type="text" name="link" size="50" /></td>
                </tr>
                <tr>
                    <th><i class="require-red">*</i>图片：</th>
                    <td><input type="file" name="smallimg" id=""/></td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input class="btn btn-primary btn6 mr10" type="submit" value="提交"/>
                        <input class="btn btn6" type="button" onclick="history.go(-1)" value="返回"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    /*
    function submitForm(page){
        document.myform.action = page;
        document.myform.submit();
        return true;
    }
    */
</script>
{/block}