{extend name="base/layout" /}
{block name="main"}
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">&#xe000;</i><a href="__GROUP__">首页</a><span class="crumb-step">&gt;</span><span>修改密码</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="{:url('updatePwd')}" id="myform" name="myform" method="post">
                <table class="insert-tab">
                    <tr>
                        <th width="270"><i class="require-red">*</i>旧密码：</th>
                        <td width="500"><input class="common-text required" type="password" size="32" name="oldpwd" id="oldpwd"/></td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>新密码：</th>
                        <td><input class="common-text" type="password" size="32" name="newpwd" id="newpwd"/></td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>确认新密码：</th>
                        <td><input class="common-text" type="password" size="32" name="renewpwd" id="renewpwd"/></td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>验证码：</th>
                        <td>
                            <input type="text" name="verify" id="verify" size="5" class="admin_input_style" />
                            <img id="verifyImg" class="cp" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?time='+Math.random();" alt="点击刷新验证码" title="点击刷新验证码" />
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!--/main-->
{/block}    