{extend name="Base/layout" /}
{block name="main"}
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font">&#xe000;</i><a href="__GROUP__">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name"></span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="{:url('index')}" method="post">
                <table class="search-tab">
                    <tr>
                        <!--<th width="70">关键字:</th>-->
                        <th width="10"></th>
                        <td><input class="common-text" type="text" placeholder="请输入查询关键字..." name="keywords" value="{notempty name='keywords'}{$keywords}{/notempty}" id=""/></td>
                        <td><input class="btn btn-primary btn2" name="sub" type="submit" value="查询" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post" modelName="msg">
            <div class="result-title">
                <div class="result-list">
                    <a href="javascript:void(0)" id="batchDel"><i class="icon-font"></i>批量删除</a>
                </div>
            </div>
            <div class="result-content">
                <div class="res-items">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="5%" class="tc"><input class="allChoose" type="checkbox" name="" id=""/></th>
                            <th>发布人</th>
                            <th>留言</th>
                            <th></th>
                            <th>主题</th>
                            <th>操作</th>
                        </tr>
                        {volist name="commentList" id="vo"}
                        <tr>
                            <td class="tc"><input type="checkbox" name="id[]" value="{$vo['id']}" id=""/></td>
                            <td>
                                <span class="mr3"><img src="__PUBLIC__/uploads/visitor.png" title="visitor" width="32" height="32" alt=""/></span>
                                <i>{$vo.username|mb_substr=0,10}</i> <br> jikey@outlook.com
                            </td>
                            <td>{$vo.content}</td>
                            <td>提交于: {$vo.inputtime|date="Y-m-d H:i:s"}</td>
                            <td></td>
                            <td>
                                <a class="mr5" href="{:url('reply')}?id={$vo['id']}">回复</a>
                                <a href="{:url('del')}?id={$vo['id']}">删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <div class="result-list mt10">
                        <!--<a href="javascript:void(0)" id="batchDel"><i class="icon-font"></i>批量删除</a>-->
                    </div>
                    <div class="list-page">{$page|raw}</div>
                </div>
            </div>
        </form>
    </div>

<!--/container-->
{/block}