{include file="Public/header"}
<section class="works-container wrap-box">
    <div id="aboutMenu" class="wroks-inner">
        <div class="about-title">
            <ul class="about-title-list clearfix">
                <li class="on"><a href="javascript:void(0)">About Me</a></li>
                <li><a href="javascript:void(0)">Design Concept</a></li>
            </ul>
        </div>
        <div class="about-content">
            <div class="about-me about-items clearfix">
                <div class="me-img"><img src="__IMG__/aboutme/about-me.jpg" alt=""/></div>
                <div class="me-info">
                    <p>大家好我叫郑静，很高兴你能停留在我的网站片刻，这是我的荣幸，也是我建立这个网站的目的，也希望通过我的点滴分享能使互联网世界更加精彩。我算是半科班出身的设计妹子，大学学的是设计历史，在吸取浩瀚的先辈们的优秀精华之后，毕业后毅然投入了设计这一行当。先后从事了游戏UI，手机UI等岗位。</p>
                    <p>现在在一家专业的金融服务公司从事移动端UI设计，主要包括：IOS，安卓，WP平台的金融相关服务软件的UI设计。一次偶然的机会接触到PS，从此便深深的喜欢上了设计，懵懵懂懂，迷迷糊糊地一路走到现在。特别感谢这一路帮助过支持我的朋友或家人，你们是我前进的动力，使我停泊暂息的港湾。</p>
                    <p>平常除了画点感兴趣的故事之外，还特别喜欢摄影，看书，看电影。</p>
                    <p>如果说设计是把自我的内心世界通过技术的手段表达出来的一种过程的话，那么摄影就是让五彩缤纷的自然世界再次深入我内心的一个必然历程。</p>
                    <p>平常喜欢看一些杂七无章及漫画方面书籍，比如像艺术家一样思考，矛盾文学奖的部分作品等。比较喜欢一些现代作家，比如：路遥，贾平凹，陈忠实，都梁等。感觉他们在用自己的生命来涂写他们笔下的世界。比较喜欢的漫画家有朱德庸，几米等。</p>
                    <p>比如喜欢一些冯小刚，宁浩，姜文，李安等导演的电影。也喜欢一些国外的宫崎骏的作品，或迪士尼公司的动画电影。</p>
                </div>
            </div>
            <div class="about-me about-items none">
                <div class="concept-img">
                    <img src="__PUBLIC__/uploads/banner-01.jpg" alt=""/>
                </div>
                <div class="concept-info">
                    <p>Jing UI 于2013年12月1日发布上线，是郑静的个人网站，所展示的内容均为作者的原创设计作品。</p>
                    <p>以专业的设计理念，创新视觉服务国内多家公司，涉及了游戏、金融等各个行业，也参加了多次设计大赛，均取得了不错的成绩，在圈内小有名气。</p>
                    <p>未来通过一直的坚持，发现潜在的行业机遇。每个机遇都是一次新的挑战，不断的迎接挑战才能跨越自我，超越自我，完成自我价值的完美实现。</p>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="Public/footer"}
</body>
</html>